<ion-header>
  <ion-toolbar>
    <ion-title>
      Card Decks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list>
                <ion-item>
                  <ion-avatar item-start>
                    <img src="img/avatar-cher.png">
                  </ion-avatar>
                  <h2>Cher</h2>
                  <p>Ugh. As if.</p>
                </ion-item>
                <ion-item>
                        <ion-avatar item-start>
                          <img src="img/avatar-cher.png">
                        </ion-avatar>
                        <h2>Cher</h2>
                        <p>Ugh. As if.</p>
                </ion-item>
                <ion-item>
                        <ion-avatar item-start>
                          <img src="img/avatar-cher.png">
                        </ion-avatar>
                        <h2>Cher</h2>
                        <p>Ugh. As if.</p>
                </ion-item>      
        </ion-list>
</ion-content>



