<ion-tabs>
    <ion-tab label="Card" icon="home" href="/tabs/(card:card-deck)">
      <ion-router-outlet name="card"></ion-router-outlet>
    </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Contact" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>

</ion-tabs>
